html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  min-height: 100px;
  background-color: #42858c;
}

.clickableImg {
  height: 300px;
  width: 600px;
  border: 2px solid #397367;
}

.imgContainer {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.imgHeader {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 32px;
  color: white;
  opacity: 0;
  transition: opacity 1s ease;
  text-align: center;
}

#aircraftImg {
  border: 2px solid darkOrange;
}

#reportImg {
  border: 2px solid black;
}

#reportHeader {
  left: 10%;
}

.imgOverlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#exerciseOverlay {
  background-color: #397367;
}

#aircraftOverlay {
  background-color: rgb(218, 139, 103);
}

#reportOverlay {
  background-color: darkgrey;
}

.imgContainer:hover .imgOverlay {
  opacity: 0.5;
}

.imgContainer:hover .imgHeader {
  opacity: 1;
}

#homeButton {
  left: 20px;
  background: url("../images/home_logo.png");
}

a {
  display: block;
}

#logoImg {
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
}

#LogoutButton {
  position: absolute;
  top: 35%;
  background-color: #9ae4d9;
  color: #35393c;
  width: 130px;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  right: 20px;
}

#LogoutButton:hover {
  cursor: pointer;
  background-color: #4acfbb;
}

#imgContainer {
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}

#content {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #63ccca;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 40px;
}
