html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}

#myGrid {
  height: 600px;
  width: 900px;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  border: 2px solid #42858c;
  border-radius: 5px;
  box-shadow: #35393c 5px 5px 15px 5px;
}

h3 {
  margin-left: 15px;
  margin-right: 15px;
  color: #35393c;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20%;
  min-height: 100px;
  background-color: #42858c;
}

#addRow {
  margin-right: 40px;
}

.generalButton {
  background-color: #35393c;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #42858c;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  box-shadow: #35393c 5px 5px 15px 5px;
}

.generalButton:hover {
  cursor: pointer;
}

#homeButton {
  left: 20px;
  background: url("../images/home_logo.png");
}

#logoImg {
  position: fixed;
  top: 0;
  left: 0;
  height: 20%;
}

#LogoutButton {
  position: absolute;
  top: 35%;
  background-color: #35393c;
  color: white;
  width: 130px;
  height: 70px;
  border: 2px solid #9ae4d9;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  right: 20px;
  box-shadow: #35393c 5px 5px 15px 5px;
}

#LogoutButton:hover {
  cursor: pointer;
  background-color: #1e2123;
  border: 2px solid #9ae4d9;
}

#content {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #51acab;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 40px;
  padding-top: 30px;
}
